<%- include("partials/header.ejs") %>

<main class="text-2xl decoration-sky-700 text-red-600 mt-2">
    <% if(locals.data && data.length > 0){ %>
        <div class="mx-4 sm:mx-8 lg:mx-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <% data.forEach(element => { %>
                <div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-slate-800 text-white p-6">
                    <h1 class="mb-2 text-2xl font-bold text-gray-300 hover:text-green-500 transition-all duration-300"><%= element.heading %></h1>
                    <p class="text-gray-400 hover:text-green-300 transition-all duration-300"><%= element.title %></p>
                    <form action="/action" class="mt-4">
                        <input type="hidden" name="noteId" value="<%= element.id %>">
                        <div class="flex justify-between mt-4">
                            <button type="submit" name="deleteNote" value="<%= element.id %>" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 transition-all duration-300">
                                Delete
                            </button>
                            <button type="submit" name="editNote" value="<%= element.id %>" class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 transition-all duration-300">
                                Edit
                            </button>
                        </div>
                        <p class="text-rose-500 text-right text-sm font-extralight mt-3 date-animated"><%= element.date %></p>
                    </form>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <div class="flex justify-center items-center h-screen">
            <p class="text-center text-3xl text-white">
                Nothing in the database
            </p>
        </div>
    <% } %>
</main>

<%- include("partials/footer.ejs") %>